*,
*::before,
*::after {
  box-sizing: border-box;
}

.registration-form {
    display: block;
    width: 400px;
    margin: 100px auto;
}

.registration-form input {
    margin: 25px auto;
}

.button {
    cursor: pointer;
    border: none;
    margin: 50px auto;
    font-size: 20px;
    background: blue;
    color: white;
    padding: 15px;
}

.button:hover {
    background: orange;
}

button:active {
    background: green;
    transition: ease-in-out 0.5s;
}